* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form_row {
  height: 100px;
  align-items: center;
  border-radius: 20px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 28, 133, 1) 0%,
    rgba(9, 9, 121, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
}

.form_row span {
  background: rgb(12, 5, 139);
  color: white;
}

.form_row button {
  background: rgb(12, 5, 139);
  color: white;
  transition: opacity 0.8s ease;
}

.form_row button:hover {
  background: rgb(12, 5, 139);
  color: white;
  opacity: 0.8;
}

.input-group {
  position: relative;
  background-color: blue;
  z-index: 50;
}

@media screen and (max-width: 768px) {
  .form_row {
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form_row > div {
    display: flex;
    justify-content: center;
  }
  #category {
    width: 80%;
  }

  .form_row .input-group {
    width: 80%;
  }

  .form_row .btn {
    width: 80%;
    background-color: blue;
  }

  .input-group span {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .form_row {
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form_row > div {
    display: flex;
    justify-content: center;
  }
  #category {
    width: 80%;
  }

  .form_row .input-group {
    width: 80%;
  }

  .form_row .btn {
    width: 80%;
    background-color: blue;
  }

  .input-group span {
    font-size: 14px;
  }
}

#table_content {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 28, 133, 1) 0%,
    rgba(9, 9, 121, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 20px;
}

#premium-text {
  display: none;
}
