* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-main-container {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 28, 133, 1) 0%,
    rgba(9, 9, 121, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid white;
  margin-top: 0;
  position: sticky;
  top: 0;
  left: 0;
}
.navbar-container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-btn {
  margin-right: 15px;
}

.navbar-btn button {
  background: rgb(12, 5, 139);
  color: white;
}

.navbar-btn button:hover {
  background: rgb(12, 5, 139);
  color: white;
  opacity: 0.8;
}

.navbar-logo {
  display: flex;
  gap: 5px;
  margin-top: 10px;
  margin-left: 15px;
}

.toggle-btn,
.cross-btn {
  width: 40px;
  height: 40px;
  margin-top: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
  position: relative;
}
.top,
.bottom,
.middle {
  width: 65%;
  height: 2px;
  background-color: white;
}

.bottom-cross,
.top-cross {
  width: 60%;
  height: 2px;
  background-color: white;
}

.top {
  transform: translateY(-5px);
}

.bottom {
  transform: translateY(5px);
}

.top-cross {
  position: absolute;
  transform: rotate(45deg);
}

.bottom-cross {
  position: absolute;
  transform: rotate(135deg);
}
.cross-btn {
  display: none;
}

.toggle-btn {
  display: none;
}

.toggle-menu {
  display: none;
}

.toggle-menu {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 28, 133, 1) 0%,
    rgba(9, 9, 121, 1) 41%,
    rgba(0, 212, 255, 1) 100%
  );
  position: absolute;
  top: 60.5px;
  left: 0;
  width: 100%;
}

.toggle-menu ul {
  list-style: none;
  font-size: 1.15rem;
}

.toggle-menu ul li {
  list-style: none;
  margin-bottom: 20px;
  margin-top: 20px;
}
.toggle-menu ul a {
  text-decoration: none;
  color: white;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  gap: 15px;
  font-size: large;
  margin: 0 auto;
}

.nav-menu ul a {
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-bottom: 2px solid white;
  border-radius: 15px;
}

.nav-menu ul a:hover {
  opacity: 0.8;
  background-color: rgb(14, 10, 97);
}
.nav-menu ul a:active {
  opacity: 0.8;
  background-color: red;
}

@media screen and (max-width: 992px) {
  .nav-menu {
    display: none;
  }

  .toggle-btn {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .toggle-btn {
    display: none;
  }
  .cross-btn {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .navbar-btn {
    display: none;
  }
}
